---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$laptop-width:     800px;
$on-laptop:        $laptop-width;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
// idk what best preactice is for splitting partials and main. for now I am just putting the stuff
// that only matters for single pages in partials
@import "hero";

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.site-header {
    background-color: darkgrey;
    height: 40px;
    width: 100%;
    
    .site-title {
        float: left;
        margin-left: calc(50% - 400px);
        @include media-query($laptop-width + 15px) {
            margin-left: 10px;
        }        
    }

    .site-nav {
        float: right;
        margin-right: calc(50% - 400px);
        @include media-query($laptop-width + 15px) {
            margin-right: 10px;
        }        
    }
}

.page-content {
    background-color: darkkhaki;
    
    width: $laptop-width;
    margin-left: auto;
    margin-right: auto;
    
    @include media-query($laptop-width) {
        width: 100%;
    }

    .page-wrapper {
        margin-left: auto;
        margin-right: auto;
        background-color: aqua;
        margin: 10px;
    }
}

//footer style!