---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

// Our variables
$base-font-family: Lato, Helvetica, Arial, sans-serif;

$grey:       #989898;
$grey-light: lighten($grey, 30%);
$grey-dark:  darken($grey, 30%);

$maroon:    maroon;
$maroon-dark: darken($maroon, 30%);

$header-height: 50px;
$header-height-stacked: 80px;
$tamu-stamp-width: 200px;

// Width of the content area
$content-width: 940px;
$half-content-width: $content-width/2;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin no-vertical-align {
  position: static;
  top: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

@mixin horizontal-align {
    margin-left: auto;
    margin-right: auto;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// Import partials from `sass_dir` (defaults to `_sass`)
// idk what best preactice is for splitting partials and main. for now I am just putting the stuff
// that only matters for single pages in partials
@import "reset";

body, html {
    font-family: $base-font-family;
}

a {
    text-decoration: none;
    transition: .2s;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}

/*=====================Hero Style=====================*/

.hero-wrapper{
    background-color: maroon;
    text-align: center;
    img {
        width: 300px;
    }
}

/*=====================Header Style=====================*/

.site-header {
    background-color: $grey-dark;
    height: $header-height;
    
    .header-content{
        height: $header-height;
        width: 100%;
        max-width: $content-width;
        @include horizontal-align;
    
        .site-title, .page-link {
            color: white;
        }
        
        .nav-burger {
            display: none;
        }

        .site-title {
            float: left;
            margin-left: 10px;
            @include vertical-align;

            font-size: 24px;
            font-weight: 300;
        }

        .site-nav {
            float: right;
            margin-right: 10px;
            @include vertical-align;

            .page-link {
                padding: 10px;
                transition: .2s;
            }
            .page-link:hover {
                color: $grey;
            }
        }
    
    }
}

/*=====================Footer Style=====================*/

.site-footer { 
    width: 100%;
    max-width: $content-width;
    @include horizontal-align;
    
    border-top: 1px solid $grey;
    
    .tamu-stamp {
        width: $tamu-stamp-width;
    }
    
    .footer-left {
        float: left;
        width: $tamu-stamp-width;
    }
    
    .footer-right {
        float: right;
        width: calc(100% - #{$tamu-stamp-width} - 20px);

        .footer-links {
            float: right;
            list-style: none;
            margin: 2px;
            
            li {
                display: inline;
                
                a {
                    color: $maroon;
                }
                a:hover {
                    color: $maroon-dark;
                }
            }
        }

        .contact-list {
            float: right;
            list-style: none;
            text-align: right;
            clear: right;
            margin-top: 10px;
        }
        
        .auth-credit {
            float: right;
            clear: right;
            margin-top: 10px;
        }
    }
    
    .copyright {
        clear: both;
        text-align: center;
        color: $grey;
    }
}

/*=====================Content Style=====================*/

.page-content {    
    width: 100%;
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;

    .post-list {
        li {
            margin: 10px;
            border-top: 2px solid $grey;
            
            h2 {
                font-size: 20px;
                margin-top: 10px;
            }
            
            .post-meta {
                text-align: right;
            }
        }
    }
}

/*=====================Responsive!=====================*/

//Moves the title and nav onto two lines
$break1: 800px;
@include media-query($break1) {
    .hero-wrapper img {
        width: 200px;
    }   
    .site-header {
        height: $header-height-stacked;

        .header-content{
            height: $header-height-stacked;
            text-align: center;

            .site-title, .site-nav{
                display: block;
                float: none;
                margin-left: 0;
                @include no-vertical-align;
            }

            .site-title {
                font-size: 24px;
                padding-top: 8px;
                padding-bottom: 8px;
                border-bottom: 1px solid maroon;
            }

            .site-nav{
                margin-top: 12px;
            }
        }
    }
}

//Changes the footer to be stacked
$break2: 620px;
@include media-query($break2) {
    .site-footer { 
        .tamu-stamp {
            width: $tamu-stamp-width;
        }

        .footer-left {
            float: none;
            width: 100%;
            text-align: center;
        }

        .footer-right {
            float: none;
            width: 100%;
            text-align: center;
            
            .footer-links {
                float: none;

                li {
                    display: inline;

                    a {
                        padding: 8px;
                        color: $maroon;
                    }
                    a:hover {
                        color: $maroon-dark;
                    }
                }
            }

            .contact-list, .auth-credit  {
                float: none;
                text-align: center;
                margin-top: 16px;
            }

        }

        .copyright {
            margin-top: 16px;
        }
    }
}

//Changes nav and footer to be more mobile friendly. This is low mobile in portrait mode 
$break3: 480px;
@include media-query($break3) {
    .hero-wrapper img {
        width: 100px;
    }   
    .site-header {
        height: auto;
        overflow: auto;

        .header-content{
            height: auto;
            text-align: center;

            .site-title, .site-nav{
                display: block;
                float: none;
                margin-left: 0;
                @include no-vertical-align;
            }

            .site-title {
                font-size: 18px;
                float: left;
                margin-left: 10px;
                display: inline-block;
                border: none;
            }

            .nav-burger {
                display: inline-block;
                float: right;
                color: white;
                cursor: pointer;
                padding: 8px;
            }
            
            .site-nav{
                height: 0px;
                transition: .2s;
                overflow: hidden;
                margin-top: 12px;
                clear: both;
                background-color: $grey-dark;
                width: 100%;
                
                a {
                    display: block;
                }
            }
        }
    }
}