<footer class="site-footer">

    <div class="wrapper">
             
        <div class="footer-left">
            <a href="http://www.tamu.edu/" target="_blank">
                <img class="tamu-stamp" src="img/TAM-PrimaryMarkB.png">
            </a>
        </div>

        <div class="footer-right">
            <ul class="contact-list">
                <li>{{ site.title }}</li>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>

            <div>
                <p>{{ site.description }}</p>
            </div>
        </div>

    </div>

</footer>
